# MBA em Ciência de Dados
# Técnicas Avançadas de Captura e Tratamento de Dados

### <span style="color:darkred">Módulo I - Dados Estruturados, Não Estruturados e problemas típicos em bases de dados</span>


## <span style="color:darkred">Avaliação</span>

Moacir Antonelli Ponti

CeMEAI - ICMC/USP São Carlos


---

#### <font color='red'> As respostas devem ser fornecidas no Moodle. Usar o notebook para a implementação dos códigos que fornecerão as respostas</font>

---

In [2]:
# carregando as bibliotecas necessárias
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv("./dados/TACTD-01-Base.csv")

### Questão 1)

Considere a base de dados disponível em `TACTD-01-Base.csv`. Com relação aos dados faltantes no atributo 'Sex', i.e. linhas que não sejam 'F' nem 'M', podemos dizer que:
 
 (a) São do tipo completamente aleatório (MCAR)<br>
 (b) São do tipo (condicionalmente) aleatório (MAR)<br>
 (c) São do tipo não aleatório<br>
 (d) Não há dados faltantes<br>

In [4]:
# seu código com análise do atributo Sex
df['Sex'].isnull

,Name,Sex,Year of Birth,Country of Birth,Religion,City,Profession,Years of Experience
0,Eugenio Ewell,M,1968,USA,Christian,New Orleans,Nurse,20.0
1,Ivo Izidro,M,1983,Mexico,Christian,Acapulco,Nurse,52.0
2,Lindsey Lever,M,1965,USA,Christian,New Orleans,Nurse,29.0
3,Desiree Dardar,F,1985,USA,Christian,New Orleans,Nurse,3.0
4,Mariann Mulero,NaN,1973,USA,Christian,New Orleans,Nurse,21.0
...,...,...,...,...,...,...,...,...
95,Paityn Hale,M,1963,Peru,Christian,Arequipa,Nurse,23.0
96,Petra Cruz,F,1976,Mexico,Christian,Acapulco,Nurse,19.0
97,Margaret Keith,F,1970,USA,Christian,New Orleans,Nurse,20.0
98,Diego Colque,M,1958,Peru,Christian,Arequipa,Nurse,34.0
99,Raelynn Murphy,F,1962,USA,Christian,New Orleans,Nurse,28.0

---

### Questão 2)

Considere a base de dados disponível em `TACTD-01-Base.csv`, e analise os dados no atributo 'Religion'. Esse atributo possui os seguintes problemas:

 (a) 9 dados faltantes (sendo desses 5 dados errôneos) e 1 outlier<br>
 (b) 4 dados faltantes devido a omissão do usuário<br>
 (c) 9 dados errôneos, sendo desses 2 outliers<br>
 (d) 1 outlier<br>

In [2]:
# seu código com análise dos dados no atributo Religion

---
### Questão 3)

Dados estruturados, quando comparados aos não-estruturados, são caracterizados por:

(a) permitir executar validação dos dados, mas não possibilitar acesso direto<br>
(b) possibilitar maior liberdade/flexibilidade na coleta dos dados, sendo ideais para coleta com baixo controle<br>
(c) armazenado em arquivos de formato texto livre, permitindo controle de versões<br>
(d) possuir campos e atributos que permitam endereçar os dados diretamenteo<br>

---

### Questão 4)

Considere a base de dados disponível em `TACTD-01-Base.csv`, e analise os dados no atributo 'Years of experience' por meio do gráfico de caixa e depois visualizando as linhas contendo outliers mostrados no gráfico de caixa.

O atributo possui:

(a) 3 outliers globais<br>
(b) 1 outlier, pois os outros dados são plausíveis<br>
(c) 3 outliers globais, sendo dois desses também outliers contextuais<br>
(d) 3 outliers contextuais, sendo um deles também um outlier global<br>

In [3]:
# seu código com análise do atributo Years of Experience

## Questão 5)

Gere o gráfico de caixa do atributo 'Year of Birth' e depois selecione e imprima na tela todas as linhas em que o atributo 'Year of Birth' possui valores fora das barras de mínimo e máximo do gráfico de caixa.

Como interpretar as linhas retornadas e quais ações são mais indicadas, em termos de manter ou remover os dados supeitos?

(a) a linha 15 e a linha 71 possuem outliers e dados errôneos, ambas devem ser removidas por completo.<br>
(b) a linha 15 possui valores considerados outliers, mas são plausíveis e podem ser mantidos; a linha 71 possui outliers e dados errôneos e deve ser removida<br>
(c) a linha 22 possui outliers e atributos com dados errôneos, com valores que devem ser removidos; a linha 71 possui um outlier, mas é plausível e pode ser mantido<br>
(d) a linha 15 e a linha 71 possuem valores outliers, mas podem ser mantidos pois não há outros problemas que exigam limpeza<br>

In [4]:
# seu código com análise do atributo "Year of Birth"